@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    font-family: 'Questrial', sans-serif;
    width: 100%;
    height: 100%;
    font-family: 'Questrial', sans-serif!important;
    overflow-x:hidden;
}
@media(max-width:768px){
    body{
        overflow-x:hidden;
        width: 100%;
        height: 100%;
    }
}
.first-display {
  background-image: url(/img/first-display.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
 
  color: #fff;
  
}
@media(max-width:600px){
    .first-display{
        background-size: contain;
        background-position: center;
    }
}

.bg-fon{
    width: 100%;
    height: 100%;
    background: rgba(71, 71, 71, 0.7);
  
}
.navbar{
   background-color: #554;
    
    margin: auto;
    font-size: 20px;
    background-color: #555;
    opacity: 0.9;
    

}

.btn{
    border-radius: 0%!important;
    -webkit-border-radius: 0%!important;
    -moz-border-radius: 0%!important;
    -ms-border-radius: 0%!important;
    -o-border-radius: 0%!important;
}
.navbar-toggler{
    color: #fff!important;
}

.navbar-brand {
    font-size: 40px!important;
    color: #fff;
}
.navbar-brand:hover{
    color: #fff!important;
   
    
}


.mb-description{
    padding-bottom: 60px;
}
.nav-item {
    margin-left: 20px;
}
.nav-link {
    color: #fff!important;
}
.active {
}
.btn{
    font-size: 32px!important;
    
}
.first-description{
    padding-top: 150px;
}
.first-description-item{
    padding-top: 40px;
}
.first-title-item{
    padding-bottom: 100px;
}


.slide-img{
    height: 300px;
    position: relative;
}
img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#two-section{
    padding-top: 50px;
    width: 100%;
    
    margin: auto;
 
   
}
.title{
    padding-top: 40px;
    padding-bottom: 50px;
}
.btn-Card{
    width: 160px;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color:#ad9b7c;
    text-decoration: none;
    box-shadow: 2px 2px 30px rgba(171, 146, 8, 0.2);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 1px solid #ad9b7c;
}
.btn-Card:hover{
    color: #ffff;
    background-color: #ad9b7c;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}
.slide-img:hover .overlay{
    visibility: visible;
    animation: fade 0.5s;
    -webkit-animation: fade 0.5s;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.visually-hidden{
    color: #000!important;
    background-color: #000!important;
}
.card{
    border: none!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#three-section{
    padding-top: 80px;
    max-width: 800px;
    margin: auto;
}
.our-item-img{
    width: 200px;
    height: 200px;
}
.title-block-our{
    font-weight: 600;
    color: #ad9b7c;
}
@media(max-width:580px){
    .img-adaptiv{
       align-items: center;
       text-align: center;
       justify-content: center;
      padding-bottom: 40px;
      margin: auto;
    }
    .our-item-img{
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .title-block-our{
        text-align: center;
        align-items: center;
        
        
    }
}
.contacts-ssilka{
    text-decoration: none;
    color: #554;
    text-align: center;
    padding-bottom: 80px;
}
.contacts-ssilka:hover{
      color: #000;
}
@media(max-width:1000px){
    h3{
        text-align: center;
        align-items: center;
    }
    .img-adaptiv{
        align-items: center;
        text-align: center;
        justify-content: center;
       padding-bottom: 40px;
       margin: auto;
     }
     .our-item-img{
         text-align: center;
         align-items: center;
         justify-content: center;
         margin: auto;
     }
     .title-block-our{
         text-align: center;
         align-items: center;
         
         
     }
     .star{
         display: flex;
         font-size: 10px;
     }
}

.mbour{
   
    margin-bottom: 150px;
}
.contact-number{
    margin-bottom: 80px;
    color: #554;
    font-size: 40px;
    text-decoration: none;
}
.soc-img{
    /* width: 40px;
    height: 40px;
    margin-bottom: 80px; */
    margin-bottom: 20px;
}
.iconic{
    width: 100px;
    height: 90px;
    
  
}
@media(max-width:950px){
    .iconic{
        width: 70px;
        height: 60px;
    }
}
.scroll-item-soc{
    margin-bottom: 100px;
    background-color: #5555;
    max-width: 300px;
    margin: auto;
    position: fixed;
    bottom: 50px;
    z-index: 1;
    right: 100px;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media(max-width:950px){
    .scroll-item-soc{
         right: 20px;
        align-items: center;
        text-align: center;
        padding-top: 20px;
        padding: 20px 20px 20px 20px;
        bottom: 10px;
        background-color: #5555;
        /* width: 80px; */
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
}


.btn-card{
    padding: 10px 10px 10px 10px;
    background-color: #ad9b7c;
    color: #fff;
    border: none !important;
    text-decoration: none;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}
.btn-card:hover{
    color: #fff;
}
@media(max-width:992px){
    .card{
        margin-bottom: 30px;
    }
}
.two-section-title{
    padding-bottom: 40px;
}
.card-title{
    font-weight: 700;
}